/* ######################### 
########## STARS ###########
############################*/

#stars,
#stars2,
#stars3,
.stars,
.stars2,
.stars3 {
  position: fixed;
  top: 0;
  left: 4vw;
  width: 100%;
  will-change: transform;
}

/* html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
} */

#stars,
.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1952px 1781px #fff, 1624px 968px #fff, 655px 794px #fff,
    1475px 1083px #fff, 1134px 959px #fff, 1645px 1821px #fff, 736px 1716px #fff,
    438px 823px #fff, 880px 971px #fff, 505px 1257px #fff, 1826px 53px #fff,
    534px 1249px #fff, 1511px 1363px #fff, 1767px 862px #fff, 957px 801px #fff,
    1053px 1965px #fff, 1974px 95px #fff, 637px 1290px #fff, 927px 78px #fff,
    467px 182px #fff, 1028px 17px #fff, 949px 200px #fff, 1166px 1993px #fff,
    420px 11px #fff, 1349px 924px #fff, 609px 364px #fff, 677px 1577px #fff,
    382px 1330px #fff, 1499px 1635px #fff, 339px 79px #fff, 1271px 1276px #fff,
    1894px 185px #fff, 191px 454px #fff, 713px 1351px #fff, 671px 1705px #fff,
    772px 1042px #fff, 1302px 641px #fff, 838px 512px #fff, 1774px 1714px #fff,
    490px 715px #fff, 362px 80px #fff, 1583px 1679px #fff, 461px 1862px #fff,
    1977px 1871px #fff, 1960px 680px #fff, 1059px 805px #fff, 123px 269px #fff,
    859px 1948px #fff, 16px 213px #fff, 1326px 1180px #fff, 31px 1259px #fff,
    899px 1415px #fff, 124px 1250px #fff, 1716px 1818px #fff, 1841px 1231px #fff,
    229px 1117px #fff, 1620px 924px #fff, 49px 27px #fff, 1224px 120px #fff,
    1017px 767px #fff, 334px 689px #fff, 1158px 196px #fff, 1096px 659px #fff,
    803px 386px #fff, 710px 1251px #fff, 426px 1674px #fff, 1307px 1875px #fff,
    975px 563px #fff, 1835px 1347px #fff, 1856px 1578px #fff, 1800px 1162px #fff,
    1684px 1802px #fff, 475px 556px #fff, 1472px 907px #fff, 194px 1726px #fff,
    620px 1802px #fff, 309px 840px #fff, 151px 566px #fff, 1747px 1522px #fff,
    540px 1714px #fff, 187px 326px #fff, 1263px 1942px #fff, 1760px 819px #fff,
    98px 544px #fff, 738px 745px #fff, 156px 1612px #fff, 1877px 934px #fff,
    465px 613px #fff, 1080px 1095px #fff, 1774px 732px #fff, 1680px 1520px #fff,
    1765px 1690px #fff, 1810px 565px #fff, 1049px 914px #fff, 318px 667px #fff,
    1519px 812px #fff, 1967px 562px #fff, 1849px 495px #fff, 1370px 1545px #fff,
    1679px 1431px #fff, 1726px 1359px #fff, 788px 335px #fff, 1032px 164px #fff,
    706px 1500px #fff, 1371px 441px #fff, 1591px 742px #fff, 1654px 1636px #fff,
    855px 1428px #fff, 1929px 1494px #fff, 1052px 1173px #fff, 37px 509px #fff,
    696px 663px #fff, 1834px 1548px #fff, 407px 1888px #fff, 1869px 361px #fff,
    694px 391px #fff, 1356px 1813px #fff, 1344px 1538px #fff, 249px 821px #fff,
    736px 1784px #fff, 1319px 518px #fff, 660px 1048px #fff, 275px 62px #fff,
    303px 1568px #fff, 1781px 977px #fff, 659px 464px #fff, 847px 410px #fff,
    1987px 1597px #fff, 1441px 399px #fff, 1067px 1008px #fff,
    1200px 1834px #fff, 655px 1303px #fff, 270px 1138px #fff, 46px 1847px #fff,
    1605px 1315px #fff, 434px 1788px #fff, 940px 929px #fff, 901px 1784px #fff,
    1683px 1256px #fff, 442px 1254px #fff, 465px 1387px #fff, 829px 429px #fff,
    710px 1942px #fff, 237px 701px #fff, 1579px 1462px #fff, 396px 430px #fff,
    592px 404px #fff, 602px 1720px #fff, 126px 1432px #fff, 1945px 1569px #fff,
    1775px 73px #fff, 371px 652px #fff, 1971px 213px #fff, 1265px 929px #fff,
    1582px 1187px #fff, 919px 110px #fff, 836px 490px #fff, 1228px 1435px #fff,
    731px 5px #fff, 1044px 1058px #fff, 1121px 1082px #fff, 890px 765px #fff,
    302px 808px #fff, 53px 1778px #fff, 1997px 806px #fff, 310px 105px #fff,
    432px 1356px #fff, 1007px 662px #fff, 1106px 1117px #fff, 352px 562px #fff,
    1752px 1812px #fff, 1149px 514px #fff, 1282px 719px #fff, 1278px 1874px #fff,
    1980px 1783px #fff, 132px 1556px #fff, 906px 509px #fff, 8px 1858px #fff,
    1218px 531px #fff, 1059px 13px #fff, 1178px 1416px #fff, 1172px 1120px #fff,
    1613px 917px #fff, 1706px 226px #fff, 3px 877px #fff, 1946px 1569px #fff,
    204px 1181px #fff, 137px 1288px #fff, 498px 1160px #fff, 188px 1050px #fff,
    1692px 197px #fff, 678px 1188px #fff, 1505px 1925px #fff, 1870px 1211px #fff,
    138px 201px #fff, 1728px 1616px #fff, 279px 1884px #fff, 899px 957px #fff,
    788px 207px #fff, 1181px 1583px #fff, 1959px 1165px #fff, 1724px 271px #fff,
    1890px 442px #fff, 298px 821px #fff, 166px 1004px #fff, 750px 1619px #fff,
    613px 772px #fff, 1983px 806px #fff, 1562px 222px #fff, 1429px 654px #fff,
    1031px 1523px #fff, 138px 673px #fff, 328px 231px #fff, 185px 708px #fff,
    74px 257px #fff, 657px 1168px #fff, 603px 1868px #fff, 196px 1469px #fff,
    1438px 130px #fff, 894px 612px #fff, 1271px 662px #fff, 1931px 1530px #fff,
    768px 405px #fff, 142px 999px #fff, 1070px 140px #fff, 332px 1830px #fff,
    820px 739px #fff, 466px 1127px #fff, 202px 1174px #fff, 626px 871px #fff,
    1528px 245px #fff, 1869px 1218px #fff, 1369px 250px #fff, 939px 1135px #fff,
    1937px 1007px #fff, 1780px 616px #fff, 1111px 1446px #fff,
    1903px 1070px #fff, 1878px 254px #fff, 577px 1226px #fff, 134px 983px #fff,
    738px 856px #fff, 1024px 1265px #fff, 946px 722px #fff, 1114px 1454px #fff,
    68px 736px #fff, 1271px 1859px #fff, 275px 849px #fff, 1386px 428px #fff,
    333px 884px #fff, 358px 912px #fff, 1226px 1247px #fff, 817px 597px #fff,
    560px 1507px #fff, 937px 418px #fff, 1223px 996px #fff, 887px 1362px #fff,
    855px 1535px #fff, 1694px 1275px #fff, 73px 582px #fff, 167px 479px #fff,
    1998px 1655px #fff, 1285px 281px #fff, 1791px 315px #fff, 810px 306px #fff,
    1654px 435px #fff, 532px 1367px #fff, 1657px 134px #fff, 1445px 1748px #fff,
    165px 1975px #fff, 524px 1634px #fff, 758px 1202px #fff, 1913px 597px #fff,
    1313px 1110px #fff, 1408px 467px #fff, 332px 1748px #fff, 8px 141px #fff,
    417px 1976px #fff, 1502px 1304px #fff, 720px 135px #fff, 1387px 813px #fff,
    1115px 1523px #fff, 1483px 147px #fff, 1135px 320px #fff, 490px 782px #fff,
    468px 1756px #fff, 456px 1468px #fff, 1093px 742px #fff, 1544px 241px #fff,
    1323px 1367px #fff, 1504px 281px #fff, 91px 1361px #fff, 298px 400px #fff,
    1968px 540px #fff, 1369px 856px #fff, 758px 1905px #fff, 1735px 439px #fff,
    450px 451px #fff, 1532px 771px #fff, 47px 1816px #fff, 291px 305px #fff,
    1742px 1328px #fff, 1285px 1379px #fff, 962px 1325px #fff, 484px 1731px #fff,
    407px 1970px #fff, 460px 1653px #fff, 1164px 1817px #fff, 1293px 33px #fff,
    423px 297px #fff, 584px 1631px #fff, 307px 790px #fff, 1818px 1966px #fff,
    1999px 274px #fff, 912px 104px #fff, 920px 168px #fff, 1297px 1326px #fff,
    621px 337px #fff, 1660px 655px #fff, 564px 1640px #fff, 1969px 188px #fff,
    1599px 961px #fff, 619px 484px #fff, 334px 1407px #fff, 926px 140px #fff,
    1600px 892px #fff, 961px 1517px #fff, 501px 739px #fff, 198px 412px #fff,
    1834px 861px #fff, 1093px 993px #fff, 1999px 271px #fff, 1876px 1272px #fff,
    1043px 471px #fff, 811px 617px #fff, 1192px 1566px #fff, 452px 468px #fff,
    1573px 1696px #fff, 689px 882px #fff, 1833px 1752px #fff, 104px 1501px #fff,
    632px 1907px #fff, 572px 633px #fff, 215px 1481px #fff, 1056px 402px #fff,
    1104px 601px #fff, 1348px 1186px #fff, 24px 1499px #fff, 554px 351px #fff,
    1452px 291px #fff, 1157px 1881px #fff, 1287px 197px #fff, 1386px 1969px #fff,
    558px 713px #fff, 1634px 1425px #fff, 17px 1144px #fff, 321px 1065px #fff,
    1755px 139px #fff, 493px 43px #fff, 455px 496px #fff, 504px 1931px #fff,
    457px 156px #fff, 1041px 486px #fff, 1613px 276px #fff, 514px 1792px #fff,
    1485px 979px #fff, 586px 678px #fff, 293px 460px #fff, 827px 1078px #fff,
    369px 1683px #fff, 1890px 1848px #fff, 1866px 1546px #fff, 82px 1325px #fff,
    1793px 1259px #fff, 1396px 1314px #fff, 114px 657px #fff, 1366px 1092px #fff,
    1267px 1062px #fff, 1516px 111px #fff, 891px 1579px #fff, 411px 1017px #fff,
    257px 1762px #fff, 843px 1489px #fff, 1487px 1224px #fff, 383px 259px #fff,
    146px 1271px #fff, 628px 416px #fff, 49px 267px #fff, 1196px 105px #fff,
    1147px 833px #fff, 1206px 664px #fff, 437px 1685px #fff, 78px 230px #fff,
    339px 1064px #fff, 918px 1221px #fff, 1889px 1370px #fff, 885px 1214px #fff,
    435px 1876px #fff, 742px 1197px #fff, 593px 1333px #fff, 1243px 698px #fff,
    956px 1365px #fff, 1103px 1528px #fff, 721px 1969px #fff, 98px 89px #fff,
    1538px 261px #fff, 1833px 957px #fff, 911px 156px #fff, 1696px 1577px #fff,
    1738px 1807px #fff, 1144px 397px #fff, 325px 1828px #fff, 2000px 1487px #fff,
    3px 670px #fff, 398px 728px #fff, 1431px 1816px #fff, 741px 1542px #fff,
    160px 421px #fff, 1425px 1283px #fff, 1128px 1911px #fff, 558px 767px #fff,
    1292px 1401px #fff, 383px 1959px #fff, 1427px 206px #fff, 1261px 429px #fff,
    985px 56px #fff, 1397px 1263px #fff, 70px 1248px #fff, 1260px 184px #fff,
    1986px 1027px #fff, 532px 361px #fff, 896px 207px #fff, 1634px 1386px #fff,
    181px 1604px #fff, 1088px 490px #fff, 1982px 601px #fff, 170px 115px #fff,
    78px 1541px #fff, 220px 1243px #fff, 1382px 1476px #fff, 527px 662px #fff,
    103px 1922px #fff, 1971px 242px #fff, 1612px 203px #fff, 568px 50px #fff,
    1506px 1018px #fff, 295px 1902px #fff, 1389px 1269px #fff, 1367px 760px #fff,
    1664px 464px #fff, 564px 615px #fff, 708px 1569px #fff, 880px 1844px #fff,
    1555px 549px #fff, 197px 830px #fff, 954px 96px #fff, 587px 1773px #fff,
    695px 1992px #fff, 355px 1739px #fff, 696px 427px #fff, 836px 401px #fff,
    316px 1208px #fff, 239px 1697px #fff, 1570px 1548px #fff, 724px 1270px #fff,
    1753px 53px #fff, 1822px 1815px #fff, 850px 1222px #fff, 439px 1611px #fff,
    1787px 1174px #fff, 1522px 1502px #fff, 758px 1743px #fff, 555px 1397px #fff,
    385px 560px #fff, 780px 1723px #fff, 1676px 1712px #fff, 1909px 1433px #fff,
    1402px 1345px #fff, 1246px 1668px #fff, 1215px 954px #fff,
    1720px 1740px #fff, 852px 917px #fff, 66px 1369px #fff, 51px 853px #fff,
    1669px 268px #fff, 1256px 1618px #fff, 1188px 587px #fff, 172px 545px #fff,
    445px 1375px #fff, 759px 1368px #fff, 1703px 784px #fff, 991px 801px #fff,
    1740px 1827px #fff, 872px 1527px #fff, 1593px 62px #fff, 1891px 188px #fff,
    318px 1949px #fff, 1284px 146px #fff, 1123px 232px #fff, 472px 452px #fff,
    912px 1474px #fff, 305px 1023px #fff, 332px 1702px #fff, 1812px 744px #fff,
    1122px 149px #fff, 372px 958px #fff, 52px 1768px #fff, 1731px 1560px #fff,
    550px 1444px #fff, 826px 545px #fff, 864px 757px #fff, 1597px 1681px #fff,
    855px 1027px #fff, 889px 1631px #fff, 1714px 1826px #fff, 592px 1008px #fff,
    875px 1653px #fff, 17px 306px #fff, 1108px 610px #fff, 1521px 370px #fff,
    385px 394px #fff, 807px 1885px #fff, 1577px 757px #fff, 743px 1547px #fff,
    1959px 1045px #fff, 90px 418px #fff, 287px 415px #fff, 1589px 1752px #fff,
    1217px 1471px #fff, 966px 1048px #fff, 263px 1870px #fff, 918px 1677px #fff,
    1731px 647px #fff, 1290px 563px #fff, 1473px 404px #fff, 2px 1583px #fff,
    630px 690px #fff, 351px 1772px #fff, 1774px 835px #fff, 1341px 826px #fff,
    1892px 1457px #fff, 685px 475px #fff, 378px 1247px #fff, 1034px 1756px #fff,
    300px 665px #fff, 1683px 1156px #fff, 1205px 1807px #fff, 713px 1951px #fff,
    1259px 1818px #fff, 1277px 1389px #fff, 294px 1625px #fff,
    1197px 1044px #fff, 1761px 830px #fff, 1542px 1099px #fff, 134px 1087px #fff,
    1060px 630px #fff, 1368px 303px #fff, 1445px 472px #fff, 1206px 490px #fff,
    1416px 93px #fff, 987px 1787px #fff, 1217px 1025px #fff, 912px 807px #fff,
    187px 51px #fff, 1223px 594px #fff, 686px 747px #fff, 741px 949px #fff,
    226px 371px #fff, 1332px 1386px #fff, 1901px 1066px #fff, 1111px 977px #fff,
    1599px 640px #fff, 1927px 1267px #fff, 1149px 1121px #fff, 1511px 15px #fff,
    1855px 909px #fff, 1535px 200px #fff, 1500px 187px #fff, 1456px 1941px #fff,
    1609px 563px #fff, 149px 862px #fff, 1164px 716px #fff, 872px 1178px #fff,
    1357px 1268px #fff, 1646px 968px #fff, 1054px 1185px #fff, 1447px 281px #fff,
    723px 979px #fff, 1052px 1524px #fff, 1330px 226px #fff, 56px 1476px #fff,
    1889px 1981px #fff, 1430px 147px #fff, 1861px 1435px #fff, 1661px 482px #fff,
    254px 762px #fff, 1460px 605px #fff, 23px 548px #fff, 874px 1891px #fff,
    200px 609px #fff, 1511px 696px #fff, 1768px 799px #fff, 1881px 525px #fff,
    1488px 237px #fff, 1728px 40px #fff, 1055px 243px #fff, 685px 119px #fff,
    196px 180px #fff, 616px 57px #fff, 82px 1152px #fff, 168px 1795px #fff,
    1318px 301px #fff, 164px 1087px #fff, 204px 1082px #fff, 499px 1333px #fff,
    1079px 797px #fff, 438px 631px #fff, 1972px 151px #fff, 1232px 265px #fff,
    1232px 387px #fff, 1379px 351px #fff, 10px 1642px #fff, 787px 1255px #fff,
    986px 101px #fff, 878px 88px #fff, 1205px 1159px #fff, 642px 1827px #fff,
    1876px 1786px #fff, 317px 1127px #fff, 1336px 417px #fff, 614px 410px #fff,
    1170px 920px #fff, 900px 703px #fff, 1902px 837px #fff, 576px 1599px #fff,
    589px 1556px #fff, 1618px 719px #fff, 754px 514px #fff, 801px 1065px #fff,
    1931px 458px #fff, 1072px 1815px #fff, 1916px 245px #fff, 296px 1353px #fff,
    1745px 921px #fff, 1065px 713px #fff, 940px 1980px #fff, 1883px 1146px #fff,
    1337px 248px #fff, 1097px 1606px #fff, 1515px 1052px #fff, 610px 1274px #fff,
    1612px 913px #fff, 391px 858px #fff, 393px 1419px #fff, 1664px 1745px #fff,
    1365px 102px #fff, 1164px 1551px #fff, 1773px 1839px #fff, 1664px 122px #fff,
    919px 1038px #fff, 639px 781px #fff, 1768px 422px #fff, 121px 1633px #fff,
    1486px 1164px #fff, 1419px 202px #fff, 1445px 525px #fff, 469px 1843px #fff,
    1648px 1910px #fff, 772px 172px #fff, 1748px 614px #fff, 1512px 1072px #fff,
    148px 173px #fff, 468px 1549px #fff, 908px 552px #fff, 1592px 1028px #fff,
    562px 177px #fff, 526px 881px #fff, 462px 430px #fff, 1115px 566px #fff,
    53px 261px #fff, 298px 1730px #fff, 262px 715px #fff, 947px 1548px #fff,
    1636px 1990px #fff, 706px 35px #fff, 673px 132px #fff, 803px 293px #fff,
    1181px 1385px #fff, 1998px 888px #fff, 348px 1041px #fff, 399px 572px #fff,
    689px 676px #fff, 24px 995px #fff, 564px 1671px #fff, 1823px 1800px #fff,
    496px 983px #fff, 467px 1217px #fff, 1584px 1682px #fff, 793px 324px #fff,
    1029px 459px #fff;
  animation: animStar 100s linear infinite;
}
#stars:after,
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1952px 1781px #fff, 1624px 968px #fff, 655px 794px #fff,
    1475px 1083px #fff, 1134px 959px #fff, 1645px 1821px #fff, 736px 1716px #fff,
    438px 823px #fff, 880px 971px #fff, 505px 1257px #fff, 1826px 53px #fff,
    534px 1249px #fff, 1511px 1363px #fff, 1767px 862px #fff, 957px 801px #fff,
    1053px 1965px #fff, 1974px 95px #fff, 637px 1290px #fff, 927px 78px #fff,
    467px 182px #fff, 1028px 17px #fff, 949px 200px #fff, 1166px 1993px #fff,
    420px 11px #fff, 1349px 924px #fff, 609px 364px #fff, 677px 1577px #fff,
    382px 1330px #fff, 1499px 1635px #fff, 339px 79px #fff, 1271px 1276px #fff,
    1894px 185px #fff, 191px 454px #fff, 713px 1351px #fff, 671px 1705px #fff,
    772px 1042px #fff, 1302px 641px #fff, 838px 512px #fff, 1774px 1714px #fff,
    490px 715px #fff, 362px 80px #fff, 1583px 1679px #fff, 461px 1862px #fff,
    1977px 1871px #fff, 1960px 680px #fff, 1059px 805px #fff, 123px 269px #fff,
    859px 1948px #fff, 16px 213px #fff, 1326px 1180px #fff, 31px 1259px #fff,
    899px 1415px #fff, 124px 1250px #fff, 1716px 1818px #fff, 1841px 1231px #fff,
    229px 1117px #fff, 1620px 924px #fff, 49px 27px #fff, 1224px 120px #fff,
    1017px 767px #fff, 334px 689px #fff, 1158px 196px #fff, 1096px 659px #fff,
    803px 386px #fff, 710px 1251px #fff, 426px 1674px #fff, 1307px 1875px #fff,
    975px 563px #fff, 1835px 1347px #fff, 1856px 1578px #fff, 1800px 1162px #fff,
    1684px 1802px #fff, 475px 556px #fff, 1472px 907px #fff, 194px 1726px #fff,
    620px 1802px #fff, 309px 840px #fff, 151px 566px #fff, 1747px 1522px #fff,
    540px 1714px #fff, 187px 326px #fff, 1263px 1942px #fff, 1760px 819px #fff,
    98px 544px #fff, 738px 745px #fff, 156px 1612px #fff, 1877px 934px #fff,
    465px 613px #fff, 1080px 1095px #fff, 1774px 732px #fff, 1680px 1520px #fff,
    1765px 1690px #fff, 1810px 565px #fff, 1049px 914px #fff, 318px 667px #fff,
    1519px 812px #fff, 1967px 562px #fff, 1849px 495px #fff, 1370px 1545px #fff,
    1679px 1431px #fff, 1726px 1359px #fff, 788px 335px #fff, 1032px 164px #fff,
    706px 1500px #fff, 1371px 441px #fff, 1591px 742px #fff, 1654px 1636px #fff,
    855px 1428px #fff, 1929px 1494px #fff, 1052px 1173px #fff, 37px 509px #fff,
    696px 663px #fff, 1834px 1548px #fff, 407px 1888px #fff, 1869px 361px #fff,
    694px 391px #fff, 1356px 1813px #fff, 1344px 1538px #fff, 249px 821px #fff,
    736px 1784px #fff, 1319px 518px #fff, 660px 1048px #fff, 275px 62px #fff,
    303px 1568px #fff, 1781px 977px #fff, 659px 464px #fff, 847px 410px #fff,
    1987px 1597px #fff, 1441px 399px #fff, 1067px 1008px #fff,
    1200px 1834px #fff, 655px 1303px #fff, 270px 1138px #fff, 46px 1847px #fff,
    1605px 1315px #fff, 434px 1788px #fff, 940px 929px #fff, 901px 1784px #fff,
    1683px 1256px #fff, 442px 1254px #fff, 465px 1387px #fff, 829px 429px #fff,
    710px 1942px #fff, 237px 701px #fff, 1579px 1462px #fff, 396px 430px #fff,
    592px 404px #fff, 602px 1720px #fff, 126px 1432px #fff, 1945px 1569px #fff,
    1775px 73px #fff, 371px 652px #fff, 1971px 213px #fff, 1265px 929px #fff,
    1582px 1187px #fff, 919px 110px #fff, 836px 490px #fff, 1228px 1435px #fff,
    731px 5px #fff, 1044px 1058px #fff, 1121px 1082px #fff, 890px 765px #fff,
    302px 808px #fff, 53px 1778px #fff, 1997px 806px #fff, 310px 105px #fff,
    432px 1356px #fff, 1007px 662px #fff, 1106px 1117px #fff, 352px 562px #fff,
    1752px 1812px #fff, 1149px 514px #fff, 1282px 719px #fff, 1278px 1874px #fff,
    1980px 1783px #fff, 132px 1556px #fff, 906px 509px #fff, 8px 1858px #fff,
    1218px 531px #fff, 1059px 13px #fff, 1178px 1416px #fff, 1172px 1120px #fff,
    1613px 917px #fff, 1706px 226px #fff, 3px 877px #fff, 1946px 1569px #fff,
    204px 1181px #fff, 137px 1288px #fff, 498px 1160px #fff, 188px 1050px #fff,
    1692px 197px #fff, 678px 1188px #fff, 1505px 1925px #fff, 1870px 1211px #fff,
    138px 201px #fff, 1728px 1616px #fff, 279px 1884px #fff, 899px 957px #fff,
    788px 207px #fff, 1181px 1583px #fff, 1959px 1165px #fff, 1724px 271px #fff,
    1890px 442px #fff, 298px 821px #fff, 166px 1004px #fff, 750px 1619px #fff,
    613px 772px #fff, 1983px 806px #fff, 1562px 222px #fff, 1429px 654px #fff,
    1031px 1523px #fff, 138px 673px #fff, 328px 231px #fff, 185px 708px #fff,
    74px 257px #fff, 657px 1168px #fff, 603px 1868px #fff, 196px 1469px #fff,
    1438px 130px #fff, 894px 612px #fff, 1271px 662px #fff, 1931px 1530px #fff,
    768px 405px #fff, 142px 999px #fff, 1070px 140px #fff, 332px 1830px #fff,
    820px 739px #fff, 466px 1127px #fff, 202px 1174px #fff, 626px 871px #fff,
    1528px 245px #fff, 1869px 1218px #fff, 1369px 250px #fff, 939px 1135px #fff,
    1937px 1007px #fff, 1780px 616px #fff, 1111px 1446px #fff,
    1903px 1070px #fff, 1878px 254px #fff, 577px 1226px #fff, 134px 983px #fff,
    738px 856px #fff, 1024px 1265px #fff, 946px 722px #fff, 1114px 1454px #fff,
    68px 736px #fff, 1271px 1859px #fff, 275px 849px #fff, 1386px 428px #fff,
    333px 884px #fff, 358px 912px #fff, 1226px 1247px #fff, 817px 597px #fff,
    560px 1507px #fff, 937px 418px #fff, 1223px 996px #fff, 887px 1362px #fff,
    855px 1535px #fff, 1694px 1275px #fff, 73px 582px #fff, 167px 479px #fff,
    1998px 1655px #fff, 1285px 281px #fff, 1791px 315px #fff, 810px 306px #fff,
    1654px 435px #fff, 532px 1367px #fff, 1657px 134px #fff, 1445px 1748px #fff,
    165px 1975px #fff, 524px 1634px #fff, 758px 1202px #fff, 1913px 597px #fff,
    1313px 1110px #fff, 1408px 467px #fff, 332px 1748px #fff, 8px 141px #fff,
    417px 1976px #fff, 1502px 1304px #fff, 720px 135px #fff, 1387px 813px #fff,
    1115px 1523px #fff, 1483px 147px #fff, 1135px 320px #fff, 490px 782px #fff,
    468px 1756px #fff, 456px 1468px #fff, 1093px 742px #fff, 1544px 241px #fff,
    1323px 1367px #fff, 1504px 281px #fff, 91px 1361px #fff, 298px 400px #fff,
    1968px 540px #fff, 1369px 856px #fff, 758px 1905px #fff, 1735px 439px #fff,
    450px 451px #fff, 1532px 771px #fff, 47px 1816px #fff, 291px 305px #fff,
    1742px 1328px #fff, 1285px 1379px #fff, 962px 1325px #fff, 484px 1731px #fff,
    407px 1970px #fff, 460px 1653px #fff, 1164px 1817px #fff, 1293px 33px #fff,
    423px 297px #fff, 584px 1631px #fff, 307px 790px #fff, 1818px 1966px #fff,
    1999px 274px #fff, 912px 104px #fff, 920px 168px #fff, 1297px 1326px #fff,
    621px 337px #fff, 1660px 655px #fff, 564px 1640px #fff, 1969px 188px #fff,
    1599px 961px #fff, 619px 484px #fff, 334px 1407px #fff, 926px 140px #fff,
    1600px 892px #fff, 961px 1517px #fff, 501px 739px #fff, 198px 412px #fff,
    1834px 861px #fff, 1093px 993px #fff, 1999px 271px #fff, 1876px 1272px #fff,
    1043px 471px #fff, 811px 617px #fff, 1192px 1566px #fff, 452px 468px #fff,
    1573px 1696px #fff, 689px 882px #fff, 1833px 1752px #fff, 104px 1501px #fff,
    632px 1907px #fff, 572px 633px #fff, 215px 1481px #fff, 1056px 402px #fff,
    1104px 601px #fff, 1348px 1186px #fff, 24px 1499px #fff, 554px 351px #fff,
    1452px 291px #fff, 1157px 1881px #fff, 1287px 197px #fff, 1386px 1969px #fff,
    558px 713px #fff, 1634px 1425px #fff, 17px 1144px #fff, 321px 1065px #fff,
    1755px 139px #fff, 493px 43px #fff, 455px 496px #fff, 504px 1931px #fff,
    457px 156px #fff, 1041px 486px #fff, 1613px 276px #fff, 514px 1792px #fff,
    1485px 979px #fff, 586px 678px #fff, 293px 460px #fff, 827px 1078px #fff,
    369px 1683px #fff, 1890px 1848px #fff, 1866px 1546px #fff, 82px 1325px #fff,
    1793px 1259px #fff, 1396px 1314px #fff, 114px 657px #fff, 1366px 1092px #fff,
    1267px 1062px #fff, 1516px 111px #fff, 891px 1579px #fff, 411px 1017px #fff,
    257px 1762px #fff, 843px 1489px #fff, 1487px 1224px #fff, 383px 259px #fff,
    146px 1271px #fff, 628px 416px #fff, 49px 267px #fff, 1196px 105px #fff,
    1147px 833px #fff, 1206px 664px #fff, 437px 1685px #fff, 78px 230px #fff,
    339px 1064px #fff, 918px 1221px #fff, 1889px 1370px #fff, 885px 1214px #fff,
    435px 1876px #fff, 742px 1197px #fff, 593px 1333px #fff, 1243px 698px #fff,
    956px 1365px #fff, 1103px 1528px #fff, 721px 1969px #fff, 98px 89px #fff,
    1538px 261px #fff, 1833px 957px #fff, 911px 156px #fff, 1696px 1577px #fff,
    1738px 1807px #fff, 1144px 397px #fff, 325px 1828px #fff, 2000px 1487px #fff,
    3px 670px #fff, 398px 728px #fff, 1431px 1816px #fff, 741px 1542px #fff,
    160px 421px #fff, 1425px 1283px #fff, 1128px 1911px #fff, 558px 767px #fff,
    1292px 1401px #fff, 383px 1959px #fff, 1427px 206px #fff, 1261px 429px #fff,
    985px 56px #fff, 1397px 1263px #fff, 70px 1248px #fff, 1260px 184px #fff,
    1986px 1027px #fff, 532px 361px #fff, 896px 207px #fff, 1634px 1386px #fff,
    181px 1604px #fff, 1088px 490px #fff, 1982px 601px #fff, 170px 115px #fff,
    78px 1541px #fff, 220px 1243px #fff, 1382px 1476px #fff, 527px 662px #fff,
    103px 1922px #fff, 1971px 242px #fff, 1612px 203px #fff, 568px 50px #fff,
    1506px 1018px #fff, 295px 1902px #fff, 1389px 1269px #fff, 1367px 760px #fff,
    1664px 464px #fff, 564px 615px #fff, 708px 1569px #fff, 880px 1844px #fff,
    1555px 549px #fff, 197px 830px #fff, 954px 96px #fff, 587px 1773px #fff,
    695px 1992px #fff, 355px 1739px #fff, 696px 427px #fff, 836px 401px #fff,
    316px 1208px #fff, 239px 1697px #fff, 1570px 1548px #fff, 724px 1270px #fff,
    1753px 53px #fff, 1822px 1815px #fff, 850px 1222px #fff, 439px 1611px #fff,
    1787px 1174px #fff, 1522px 1502px #fff, 758px 1743px #fff, 555px 1397px #fff,
    385px 560px #fff, 780px 1723px #fff, 1676px 1712px #fff, 1909px 1433px #fff,
    1402px 1345px #fff, 1246px 1668px #fff, 1215px 954px #fff,
    1720px 1740px #fff, 852px 917px #fff, 66px 1369px #fff, 51px 853px #fff,
    1669px 268px #fff, 1256px 1618px #fff, 1188px 587px #fff, 172px 545px #fff,
    445px 1375px #fff, 759px 1368px #fff, 1703px 784px #fff, 991px 801px #fff,
    1740px 1827px #fff, 872px 1527px #fff, 1593px 62px #fff, 1891px 188px #fff,
    318px 1949px #fff, 1284px 146px #fff, 1123px 232px #fff, 472px 452px #fff,
    912px 1474px #fff, 305px 1023px #fff, 332px 1702px #fff, 1812px 744px #fff,
    1122px 149px #fff, 372px 958px #fff, 52px 1768px #fff, 1731px 1560px #fff,
    550px 1444px #fff, 826px 545px #fff, 864px 757px #fff, 1597px 1681px #fff,
    855px 1027px #fff, 889px 1631px #fff, 1714px 1826px #fff, 592px 1008px #fff,
    875px 1653px #fff, 17px 306px #fff, 1108px 610px #fff, 1521px 370px #fff,
    385px 394px #fff, 807px 1885px #fff, 1577px 757px #fff, 743px 1547px #fff,
    1959px 1045px #fff, 90px 418px #fff, 287px 415px #fff, 1589px 1752px #fff,
    1217px 1471px #fff, 966px 1048px #fff, 263px 1870px #fff, 918px 1677px #fff,
    1731px 647px #fff, 1290px 563px #fff, 1473px 404px #fff, 2px 1583px #fff,
    630px 690px #fff, 351px 1772px #fff, 1774px 835px #fff, 1341px 826px #fff,
    1892px 1457px #fff, 685px 475px #fff, 378px 1247px #fff, 1034px 1756px #fff,
    300px 665px #fff, 1683px 1156px #fff, 1205px 1807px #fff, 713px 1951px #fff,
    1259px 1818px #fff, 1277px 1389px #fff, 294px 1625px #fff,
    1197px 1044px #fff, 1761px 830px #fff, 1542px 1099px #fff, 134px 1087px #fff,
    1060px 630px #fff, 1368px 303px #fff, 1445px 472px #fff, 1206px 490px #fff,
    1416px 93px #fff, 987px 1787px #fff, 1217px 1025px #fff, 912px 807px #fff,
    187px 51px #fff, 1223px 594px #fff, 686px 747px #fff, 741px 949px #fff,
    226px 371px #fff, 1332px 1386px #fff, 1901px 1066px #fff, 1111px 977px #fff,
    1599px 640px #fff, 1927px 1267px #fff, 1149px 1121px #fff, 1511px 15px #fff,
    1855px 909px #fff, 1535px 200px #fff, 1500px 187px #fff, 1456px 1941px #fff,
    1609px 563px #fff, 149px 862px #fff, 1164px 716px #fff, 872px 1178px #fff,
    1357px 1268px #fff, 1646px 968px #fff, 1054px 1185px #fff, 1447px 281px #fff,
    723px 979px #fff, 1052px 1524px #fff, 1330px 226px #fff, 56px 1476px #fff,
    1889px 1981px #fff, 1430px 147px #fff, 1861px 1435px #fff, 1661px 482px #fff,
    254px 762px #fff, 1460px 605px #fff, 23px 548px #fff, 874px 1891px #fff,
    200px 609px #fff, 1511px 696px #fff, 1768px 799px #fff, 1881px 525px #fff,
    1488px 237px #fff, 1728px 40px #fff, 1055px 243px #fff, 685px 119px #fff,
    196px 180px #fff, 616px 57px #fff, 82px 1152px #fff, 168px 1795px #fff,
    1318px 301px #fff, 164px 1087px #fff, 204px 1082px #fff, 499px 1333px #fff,
    1079px 797px #fff, 438px 631px #fff, 1972px 151px #fff, 1232px 265px #fff,
    1232px 387px #fff, 1379px 351px #fff, 10px 1642px #fff, 787px 1255px #fff,
    986px 101px #fff, 878px 88px #fff, 1205px 1159px #fff, 642px 1827px #fff,
    1876px 1786px #fff, 317px 1127px #fff, 1336px 417px #fff, 614px 410px #fff,
    1170px 920px #fff, 900px 703px #fff, 1902px 837px #fff, 576px 1599px #fff,
    589px 1556px #fff, 1618px 719px #fff, 754px 514px #fff, 801px 1065px #fff,
    1931px 458px #fff, 1072px 1815px #fff, 1916px 245px #fff, 296px 1353px #fff,
    1745px 921px #fff, 1065px 713px #fff, 940px 1980px #fff, 1883px 1146px #fff,
    1337px 248px #fff, 1097px 1606px #fff, 1515px 1052px #fff, 610px 1274px #fff,
    1612px 913px #fff, 391px 858px #fff, 393px 1419px #fff, 1664px 1745px #fff,
    1365px 102px #fff, 1164px 1551px #fff, 1773px 1839px #fff, 1664px 122px #fff,
    919px 1038px #fff, 639px 781px #fff, 1768px 422px #fff, 121px 1633px #fff,
    1486px 1164px #fff, 1419px 202px #fff, 1445px 525px #fff, 469px 1843px #fff,
    1648px 1910px #fff, 772px 172px #fff, 1748px 614px #fff, 1512px 1072px #fff,
    148px 173px #fff, 468px 1549px #fff, 908px 552px #fff, 1592px 1028px #fff,
    562px 177px #fff, 526px 881px #fff, 462px 430px #fff, 1115px 566px #fff,
    53px 261px #fff, 298px 1730px #fff, 262px 715px #fff, 947px 1548px #fff,
    1636px 1990px #fff, 706px 35px #fff, 673px 132px #fff, 803px 293px #fff,
    1181px 1385px #fff, 1998px 888px #fff, 348px 1041px #fff, 399px 572px #fff,
    689px 676px #fff, 24px 995px #fff, 564px 1671px #fff, 1823px 1800px #fff,
    496px 983px #fff, 467px 1217px #fff, 1584px 1682px #fff, 793px 324px #fff,
    1029px 459px #fff;
}

#stars2,
.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1064px 1529px #fff, 732px 1130px #fff, 976px 673px #fff,
    1051px 1240px #fff, 1605px 1389px #fff, 700px 426px #fff, 1729px 658px #fff,
    1546px 1530px #fff, 1650px 877px #fff, 762px 882px #fff, 1809px 1995px #fff,
    1161px 347px #fff, 1597px 1977px #fff, 528px 1291px #fff, 1324px 642px #fff,
    732px 371px #fff, 896px 377px #fff, 948px 1708px #fff, 1342px 1560px #fff,
    857px 1987px #fff, 725px 142px #fff, 562px 1188px #fff, 14px 67px #fff,
    394px 716px #fff, 1714px 975px #fff, 272px 1402px #fff, 1257px 1082px #fff,
    1004px 755px #fff, 1822px 1344px #fff, 1842px 1446px #fff, 254px 990px #fff,
    1485px 1669px #fff, 1308px 104px #fff, 1390px 1310px #fff, 1280px 620px #fff,
    864px 665px #fff, 966px 145px #fff, 238px 401px #fff, 178px 1561px #fff,
    1545px 1396px #fff, 1804px 793px #fff, 1811px 314px #fff, 1861px 1934px #fff,
    855px 1302px #fff, 1454px 1120px #fff, 1373px 1340px #fff, 715px 943px #fff,
    101px 1138px #fff, 546px 1125px #fff, 1864px 1008px #fff, 300px 1576px #fff,
    247px 534px #fff, 1881px 1870px #fff, 187px 1590px #fff, 678px 1757px #fff,
    1120px 1115px #fff, 237px 1885px #fff, 1914px 683px #fff, 1279px 180px #fff,
    1948px 789px #fff, 1013px 1329px #fff, 1519px 1316px #fff,
    1141px 1142px #fff, 1978px 1143px #fff, 741px 1672px #fff, 534px 1521px #fff,
    680px 94px #fff, 74px 451px #fff, 944px 1680px #fff, 1368px 1474px #fff,
    992px 723px #fff, 889px 1159px #fff, 393px 752px #fff, 125px 959px #fff,
    1193px 244px #fff, 912px 232px #fff, 449px 246px #fff, 840px 878px #fff,
    522px 1965px #fff, 297px 844px #fff, 1827px 1012px #fff, 1515px 47px #fff,
    420px 1644px #fff, 1287px 9px #fff, 804px 1996px #fff, 1483px 664px #fff,
    121px 1509px #fff, 1877px 535px #fff, 611px 1903px #fff, 380px 955px #fff,
    232px 1667px #fff, 1643px 1476px #fff, 295px 1049px #fff, 410px 106px #fff,
    1609px 110px #fff, 1704px 501px #fff, 492px 266px #fff, 537px 1828px #fff,
    210px 1301px #fff, 1667px 552px #fff, 718px 63px #fff, 1769px 57px #fff,
    1557px 590px #fff, 1384px 1414px #fff, 1px 544px #fff, 1326px 1082px #fff,
    1040px 1304px #fff, 1889px 1226px #fff, 1478px 1858px #fff, 224px 696px #fff,
    954px 1683px #fff, 547px 1004px #fff, 371px 219px #fff, 762px 378px #fff,
    1527px 707px #fff, 578px 38px #fff, 156px 1785px #fff, 1610px 1605px #fff,
    1924px 153px #fff, 1382px 1955px #fff, 1961px 169px #fff, 316px 215px #fff,
    1407px 1604px #fff, 1295px 1335px #fff, 1360px 414px #fff,
    1571px 1899px #fff, 797px 606px #fff, 1650px 336px #fff, 1231px 1722px #fff,
    1950px 374px #fff, 1589px 443px #fff, 1532px 1031px #fff, 1491px 436px #fff,
    705px 408px #fff, 320px 413px #fff, 1724px 700px #fff, 1877px 473px #fff,
    1917px 65px #fff, 539px 14px #fff, 510px 1355px #fff, 1564px 53px #fff,
    1742px 727px #fff, 764px 1002px #fff, 436px 1186px #fff, 1790px 1223px #fff,
    1441px 984px #fff, 1214px 783px #fff, 1755px 179px #fff, 1646px 112px #fff,
    1238px 1005px #fff, 1162px 1293px #fff, 1103px 647px #fff, 185px 265px #fff,
    1242px 697px #fff, 1081px 187px #fff, 1707px 506px #fff, 1387px 1303px #fff,
    1638px 1349px #fff, 485px 1184px #fff, 488px 215px #fff, 940px 468px #fff,
    1821px 1216px #fff, 1847px 1853px #fff, 77px 128px #fff, 1197px 1983px #fff,
    25px 1136px #fff, 1163px 1531px #fff, 1220px 297px #fff, 254px 482px #fff,
    210px 1798px #fff, 922px 225px #fff, 574px 827px #fff, 1045px 402px #fff,
    986px 411px #fff, 551px 1857px #fff, 334px 1967px #fff, 678px 678px #fff,
    762px 1957px #fff, 1989px 1183px #fff, 697px 884px #fff, 1639px 1441px #fff,
    87px 174px #fff, 300px 588px #fff, 291px 384px #fff, 843px 876px #fff,
    1235px 1015px #fff, 1788px 1568px #fff, 1204px 687px #fff,
    1473px 1577px #fff, 1579px 176px #fff, 1082px 1600px #fff, 308px 1975px #fff,
    1842px 1781px #fff, 1047px 270px #fff, 1687px 837px #fff, 178px 88px #fff,
    15px 172px #fff, 1620px 11px #fff, 137px 1957px #fff, 1343px 1958px #fff;
  animation: animStar 75s linear infinite;
}
#stars2:after,
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1064px 1529px #fff, 732px 1130px #fff, 976px 673px #fff,
    1051px 1240px #fff, 1605px 1389px #fff, 700px 426px #fff, 1729px 658px #fff,
    1546px 1530px #fff, 1650px 877px #fff, 762px 882px #fff, 1809px 1995px #fff,
    1161px 347px #fff, 1597px 1977px #fff, 528px 1291px #fff, 1324px 642px #fff,
    732px 371px #fff, 896px 377px #fff, 948px 1708px #fff, 1342px 1560px #fff,
    857px 1987px #fff, 725px 142px #fff, 562px 1188px #fff, 14px 67px #fff,
    394px 716px #fff, 1714px 975px #fff, 272px 1402px #fff, 1257px 1082px #fff,
    1004px 755px #fff, 1822px 1344px #fff, 1842px 1446px #fff, 254px 990px #fff,
    1485px 1669px #fff, 1308px 104px #fff, 1390px 1310px #fff, 1280px 620px #fff,
    864px 665px #fff, 966px 145px #fff, 238px 401px #fff, 178px 1561px #fff,
    1545px 1396px #fff, 1804px 793px #fff, 1811px 314px #fff, 1861px 1934px #fff,
    855px 1302px #fff, 1454px 1120px #fff, 1373px 1340px #fff, 715px 943px #fff,
    101px 1138px #fff, 546px 1125px #fff, 1864px 1008px #fff, 300px 1576px #fff,
    247px 534px #fff, 1881px 1870px #fff, 187px 1590px #fff, 678px 1757px #fff,
    1120px 1115px #fff, 237px 1885px #fff, 1914px 683px #fff, 1279px 180px #fff,
    1948px 789px #fff, 1013px 1329px #fff, 1519px 1316px #fff,
    1141px 1142px #fff, 1978px 1143px #fff, 741px 1672px #fff, 534px 1521px #fff,
    680px 94px #fff, 74px 451px #fff, 944px 1680px #fff, 1368px 1474px #fff,
    992px 723px #fff, 889px 1159px #fff, 393px 752px #fff, 125px 959px #fff,
    1193px 244px #fff, 912px 232px #fff, 449px 246px #fff, 840px 878px #fff,
    522px 1965px #fff, 297px 844px #fff, 1827px 1012px #fff, 1515px 47px #fff,
    420px 1644px #fff, 1287px 9px #fff, 804px 1996px #fff, 1483px 664px #fff,
    121px 1509px #fff, 1877px 535px #fff, 611px 1903px #fff, 380px 955px #fff,
    232px 1667px #fff, 1643px 1476px #fff, 295px 1049px #fff, 410px 106px #fff,
    1609px 110px #fff, 1704px 501px #fff, 492px 266px #fff, 537px 1828px #fff,
    210px 1301px #fff, 1667px 552px #fff, 718px 63px #fff, 1769px 57px #fff,
    1557px 590px #fff, 1384px 1414px #fff, 1px 544px #fff, 1326px 1082px #fff,
    1040px 1304px #fff, 1889px 1226px #fff, 1478px 1858px #fff, 224px 696px #fff,
    954px 1683px #fff, 547px 1004px #fff, 371px 219px #fff, 762px 378px #fff,
    1527px 707px #fff, 578px 38px #fff, 156px 1785px #fff, 1610px 1605px #fff,
    1924px 153px #fff, 1382px 1955px #fff, 1961px 169px #fff, 316px 215px #fff,
    1407px 1604px #fff, 1295px 1335px #fff, 1360px 414px #fff,
    1571px 1899px #fff, 797px 606px #fff, 1650px 336px #fff, 1231px 1722px #fff,
    1950px 374px #fff, 1589px 443px #fff, 1532px 1031px #fff, 1491px 436px #fff,
    705px 408px #fff, 320px 413px #fff, 1724px 700px #fff, 1877px 473px #fff,
    1917px 65px #fff, 539px 14px #fff, 510px 1355px #fff, 1564px 53px #fff,
    1742px 727px #fff, 764px 1002px #fff, 436px 1186px #fff, 1790px 1223px #fff,
    1441px 984px #fff, 1214px 783px #fff, 1755px 179px #fff, 1646px 112px #fff,
    1238px 1005px #fff, 1162px 1293px #fff, 1103px 647px #fff, 185px 265px #fff,
    1242px 697px #fff, 1081px 187px #fff, 1707px 506px #fff, 1387px 1303px #fff,
    1638px 1349px #fff, 485px 1184px #fff, 488px 215px #fff, 940px 468px #fff,
    1821px 1216px #fff, 1847px 1853px #fff, 77px 128px #fff, 1197px 1983px #fff,
    25px 1136px #fff, 1163px 1531px #fff, 1220px 297px #fff, 254px 482px #fff,
    210px 1798px #fff, 922px 225px #fff, 574px 827px #fff, 1045px 402px #fff,
    986px 411px #fff, 551px 1857px #fff, 334px 1967px #fff, 678px 678px #fff,
    762px 1957px #fff, 1989px 1183px #fff, 697px 884px #fff, 1639px 1441px #fff,
    87px 174px #fff, 300px 588px #fff, 291px 384px #fff, 843px 876px #fff,
    1235px 1015px #fff, 1788px 1568px #fff, 1204px 687px #fff,
    1473px 1577px #fff, 1579px 176px #fff, 1082px 1600px #fff, 308px 1975px #fff,
    1842px 1781px #fff, 1047px 270px #fff, 1687px 837px #fff, 178px 88px #fff,
    15px 172px #fff, 1620px 11px #fff, 137px 1957px #fff, 1343px 1958px #fff;
}

#stars3,
.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 622px 1174px #fff, 702px 1779px #fff, 1835px 1052px #fff,
    1952px 445px #fff, 871px 1039px #fff, 1969px 1332px #fff, 144px 1990px #fff,
    792px 397px #fff, 847px 1313px #fff, 489px 1923px #fff, 1396px 701px #fff,
    1227px 905px #fff, 1692px 1800px #fff, 309px 97px #fff, 1794px 1264px #fff,
    394px 668px #fff, 640px 354px #fff, 721px 1231px #fff, 579px 747px #fff,
    1675px 1477px #fff, 824px 626px #fff, 1628px 1496px #fff, 61px 1933px #fff,
    1173px 1062px #fff, 1930px 546px #fff, 386px 296px #fff, 1623px 610px #fff,
    1728px 1443px #fff, 962px 1294px #fff, 1413px 1573px #fff, 925px 753px #fff,
    1418px 1858px #fff, 673px 1296px #fff, 1118px 1210px #fff, 243px 523px #fff,
    887px 309px #fff, 1324px 1420px #fff, 979px 1932px #fff, 1500px 772px #fff,
    22px 477px #fff, 409px 960px #fff, 217px 7px #fff, 1171px 354px #fff,
    1989px 631px #fff, 97px 51px #fff, 1794px 1594px #fff, 1963px 177px #fff,
    1355px 543px #fff, 1694px 1293px #fff, 519px 717px #fff, 1869px 359px #fff,
    822px 1778px #fff, 1646px 1217px #fff, 729px 1035px #fff, 250px 1201px #fff,
    123px 983px #fff, 737px 119px #fff, 228px 333px #fff, 607px 52px #fff,
    129px 1882px #fff, 1291px 1982px #fff, 387px 1832px #fff, 1995px 644px #fff,
    387px 979px #fff, 1836px 303px #fff, 405px 608px #fff, 771px 1599px #fff,
    691px 407px #fff, 557px 265px #fff, 1601px 65px #fff, 315px 102px #fff,
    684px 1404px #fff, 1808px 1375px #fff, 244px 490px #fff, 540px 1602px #fff,
    1019px 187px #fff, 1800px 1382px #fff, 1868px 921px #fff, 951px 1078px #fff,
    1868px 388px #fff, 1341px 1584px #fff, 1670px 604px #fff, 798px 1743px #fff,
    1369px 824px #fff, 1728px 1214px #fff, 1295px 459px #fff, 1127px 496px #fff,
    850px 466px #fff, 1932px 1279px #fff, 890px 1315px #fff, 1575px 1104px #fff,
    1412px 995px #fff, 1714px 1830px #fff, 596px 713px #fff, 774px 1927px #fff,
    133px 791px #fff, 1840px 1356px #fff, 1020px 554px #fff, 1670px 60px #fff,
    1561px 1933px #fff;
  animation: animStar 60s linear infinite;
}
#stars3:after,
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 622px 1174px #fff, 702px 1779px #fff, 1835px 1052px #fff,
    1952px 445px #fff, 871px 1039px #fff, 1969px 1332px #fff, 144px 1990px #fff,
    792px 397px #fff, 847px 1313px #fff, 489px 1923px #fff, 1396px 701px #fff,
    1227px 905px #fff, 1692px 1800px #fff, 309px 97px #fff, 1794px 1264px #fff,
    394px 668px #fff, 640px 354px #fff, 721px 1231px #fff, 579px 747px #fff,
    1675px 1477px #fff, 824px 626px #fff, 1628px 1496px #fff, 61px 1933px #fff,
    1173px 1062px #fff, 1930px 546px #fff, 386px 296px #fff, 1623px 610px #fff,
    1728px 1443px #fff, 962px 1294px #fff, 1413px 1573px #fff, 925px 753px #fff,
    1418px 1858px #fff, 673px 1296px #fff, 1118px 1210px #fff, 243px 523px #fff,
    887px 309px #fff, 1324px 1420px #fff, 979px 1932px #fff, 1500px 772px #fff,
    22px 477px #fff, 409px 960px #fff, 217px 7px #fff, 1171px 354px #fff,
    1989px 631px #fff, 97px 51px #fff, 1794px 1594px #fff, 1963px 177px #fff,
    1355px 543px #fff, 1694px 1293px #fff, 519px 717px #fff, 1869px 359px #fff,
    822px 1778px #fff, 1646px 1217px #fff, 729px 1035px #fff, 250px 1201px #fff,
    123px 983px #fff, 737px 119px #fff, 228px 333px #fff, 607px 52px #fff,
    129px 1882px #fff, 1291px 1982px #fff, 387px 1832px #fff, 1995px 644px #fff,
    387px 979px #fff, 1836px 303px #fff, 405px 608px #fff, 771px 1599px #fff,
    691px 407px #fff, 557px 265px #fff, 1601px 65px #fff, 315px 102px #fff,
    684px 1404px #fff, 1808px 1375px #fff, 244px 490px #fff, 540px 1602px #fff,
    1019px 187px #fff, 1800px 1382px #fff, 1868px 921px #fff, 951px 1078px #fff,
    1868px 388px #fff, 1341px 1584px #fff, 1670px 604px #fff, 798px 1743px #fff,
    1369px 824px #fff, 1728px 1214px #fff, 1295px 459px #fff, 1127px 496px #fff,
    850px 466px #fff, 1932px 1279px #fff, 890px 1315px #fff, 1575px 1104px #fff,
    1412px 995px #fff, 1714px 1830px #fff, 596px 713px #fff, 774px 1927px #fff,
    133px 791px #fff, 1840px 1356px #fff, 1020px 554px #fff, 1670px 60px #fff,
    1561px 1933px #fff;
}

#title {
  position: relative;
  top: 0%;
  left: 0px;
  right: 0;
  color: #fff;
  /* text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; */
}
/* #title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@keyframes animStar {
  from {
    /* transform: translateY(0px); */
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
  }
  to {
    /* transform: translateY(-2000px); */
    transform: translate3d(0, -2000px, 0);
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
  }
}
