/* Creates a media query for less than 1100px width */
@media only screen and (max-width: 1100px) {
  /* Mobile Styles */
  body {
    width: 100vw;
    zoom: 0.65;
  }

  .social-icons {
    width: 100%;
    margin-top: 40px;
    vertical-align: middle;
    display: grid !important;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr) !important;
    max-height: 40px;
    flex-direction: row;
  }

  #maintext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .images-container {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    padding: 0;
    width:fit-content;
    margin: 0;
    /* filter: invert(1); */
  }
}

@media only screen and (min-width: 1920px) {
  .image-container:hover h3 {
    font-size: 1rem;
  }
  .image-container:hover h4 {
    font-size: 0.8rem;
  }
  #stars, #stars2, #stars3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}