:root {
    --background: #333;
    --gray: #666;
    --white: #fff;
    --terciary: #5c3f00;
    /* --secondary: #f0b03b; */
    /* --primary: #ffae00; */
    --secondary: #b2fdf9;
    --primary: #b1dddd;
    --alter: #0c1c31;
    --alterA: hsl(214, 61%, 12%, 0.3);
    --alter2: #291026;
    --alter3: #cec21a;
    /* --alter3: #bcce1a; */

    /* --back1: #14242b;
    --back2: #0c2e2b;
    --back3: #302407;
    --back4: #2e0e06; */

    --back1: #14242b;
    --back2: #061817;
    --back3: #1b031b;
    --back4: #1b0904;
  }
