:root {
    --background: #333;
    --gray: #666;
    --white: #fff;
    --terciary: #5c3f00;
    --secondary: #ffd689;
    --primary: #ffae00;
    --alter: #31240c;
    --alter2: #291026;

    --back1: #14242b;
    --back2: #0c2e2b;
    --back3: #302407;
    --back4: #2e0e06;

    --back1: #14242b;
    --back2: #061817;
    --back3: #1b1503;
    --back4: #1b0904;
  }
